<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a style="cursor: 'pointer'" class="navbar-brand" [routerLink]="'/'"
        >Recipe Book</a
      >
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a class="nav-item" routerLink="/recipes" routerLinkActive="active" *ngIf="isLoggedin"
            >Recipes</a
          >
        </li>
        <li>
          <a
            class="nav-item"
            routerLink="shopping-list"
            routerLinkActive="active"
            >Shopping list</a
          >
        </li>
        <li>
          <a
            class="nav-item"
            routerLink="auth"
            routerLinkActive="active"
            *ngIf="!isLoggedin"
            >Login / SignUp</a
          >
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a style="cursor: pointer;" *ngIf="isLoggedin" (click)="onLogout()">Logout</a>
        </li>
        <li class="dropdown" appDropdown *ngIf="isLoggedin">
          <a style="cursor: 'pointer'" class="dropdown-toggle"
            >Menu <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li><a a style="cursor: 'pointer'" (click)="onSaveRecipesData()">Saving data</a></li>
            <li><a a style="cursor: 'pointer'" (click)="onFetchRecipesData()">Fetching data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
